# venv
kick_tires

# build directory
book/_build

# notebook cache
.ipynb_checkpoints

# old files
archive_jb_kick_tires

# notes to self about venv
virtual_environment.txt

# deploy script
deploy.sh

# lighthouse results
lighthouse

